
form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    margin: 10px 0 5px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 20px;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#invoice {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    max-width: 600px;
}
.custom-dropdown {
    position: relative;
    width: 300px;
}

.dropdown-list {
    position: absolute;
    width: 100%;
    z-index: 1000;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Initially hidden */
}

.dropdown-list li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-list li:hover {
    background-color: #f2f2f2;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}